.xxi{
    opacity: 0.3
}
#xxii:hover{
    opacity: 1;
}
.noteTaker{
    background-color: #c5e99b;
    border-radius: 3px;
    padding: inherit 2px;
    font-size: inherit;
    cursor: pointer;
}
/* .noteTaker:hover{
    background-color: #b2dd82;
} */
.noteTaker::before{
    content: "📌";
    font-size: inherit;
}


  #toolTipCont{
    position: absolute;
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: none;
    z-index: 5;
    transition-duration: 400ms;
    /* left: 300px;
    top: 300px; */
  }
   #toolTip{
    width: 200px;
    height:120px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.685);
    border: 1px solid rgba(0, 0, 0, 0.644);
    overflow: hidden;
  }
   #firstBlock{
    width: 100%;
    height:25px;
    display: flex;
    gap: 3px;
    align-items: center;
  }

   #colorI{
  background-color: #38a3a5;
  }
   #colorII{
  background-color: #FF8FAB;
  }
   #colorIII{
  background-color: #6F2DBD;
  }
   #secondBlock{
    width: 100%;
    height: 63px !important;
    display: flex ;
  }
   #thirdBlock{
    width: 100%;
    height:30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
  }
   #firstBlock > span:nth-of-type(1){
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgba(128, 128, 128, 0.877);
    font-size: 0.8rem !important;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: calc(100% - 100px);
    font-weight: 700 !important;
    cursor: pointer;
  }
  
   #firstBlock > span:nth-of-type(n + 2){
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
  }
  #noteVal{
    outline: none !important;
    border: none !important;
    font-size: 0.8rem;
    border-radius: 0px !important;
    padding: 2px !important;
    width: 200px !important;
    height: 65px !important;
    resize: none !important;
    background-color: rgba(128, 128, 128, 0.158);
    padding-bottom: 2px !important;
  }
  #noteVal::placeholder{
    font-size: 0.8rem;
  }
  #noteVal:focus-visible{
  outline: 1px solid black !important;
  }
  #saveBut{
    height: 20px !important;
    width: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    font-size: 0.8rem !important;
    cursor: pointer !important;
    line-height: normal !important;
    border-radius: 3px !important;
    border: 1px solid transparent !important;
    user-select: none !important;
    /* color: rgba(128, 128, 128, 0.877); */
    background-color: rgba(128, 128, 128, 0.267);
  }
   #thirdBlock > span:hover{
    border: 1px solid black !important;
    /* background-color: rgba(128, 128, 128, 0.568); */
  }
   #thirdBlock > input{
    width: 125px;
    height: 20px;
    outline: none !important;
    border: none !important;
    padding: 0px 3px !important;
    border-radius: 3px !important;
    font-size: 0.8rem !important;
    background-color: rgba(128, 128, 128, 0.267);

  }
   #thirdBlock > input::placeholder{
    font-size: 0.7rem !important;
  }
   #thirdBlock > input:focus-visible{
   outline: 1px solid black !important;
  }